@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;600;700&family=Space+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Inter Tight', sans-serif;
  background-color: var(--white-2);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--dark-gray);
}

ul {
  list-style: none;
}

.shortcut {
  position: absolute;
  z-index: -2;
}

.shortcut:focus {
  display: block;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 24px;
  color: var(--white-1);
  text-align: center;
  outline: none;
  z-index: 1;
}

.nav-link {
  display: flex;
  align-items: center;
}

.navbar {
  background-color: var(--white-1);
}

.nav-item span {
  font-weight: 500;
  color: var(--gray-1);
}

.nav-link {
  border: 1px solid transparent;
  border-radius: 20px;
}

.nav-link:hover {
  border: 1px solid var(--green-1);
  border-radius: 20px;
}

.nav-link:hover span {
  color: var(--green-1);
}

.form-select {
  border-color: transparent;
  background-color: var(--white-1);
  color: var(--gray-2);
  outline-style: none;
}

.navbar-brand {
  font-size: 1.5rem;
  color: var(--main-color);
  font-weight: 700;
}

#icon-item {
  margin-right: 8px;
}

.text-item {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
}

.full-star {
  font-variation-settings: 'FILL' 1;
}

.golden-star {
  color: #daa520;
}

.star-rate {
  color: #ccc;
}

.input-container {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0 1.5rem 0;
}

.input-group-1 {
  position: relative;
  width: 100%;
  margin-right: 10px;
}

.inner-label {
  margin-bottom: 10px;
  padding: 0 5px;
  position: absolute;
  top: -8px;
  left: 15px;
  background-color: #FFF;
  border-radius: 5px;
}

.text-input {
  padding: 15px 10px 10px 20px;
  border-radius: 5px;
  border: 1px solid #cecece;
  display: block;
  width: 100%;
}

.custom-button {
  padding: 0.8rem;
  width: 50%;
  border-radius: 5px;
  background-color: var(--main-color);
  color: var(--white-2);
  font-weight: 700;
  font-size: 1em;
  align-self: flex-end;
  border: none;
  cursor: pointer;
}

.custom-button:hover,
.custom-button:focus {
  background-color: var(--blue-2);
}
