@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
  max-width: 95%;
  margin: 30px auto;
}

.form-section {
  display: flex;
  flex-direction: column;
}

.title-container {
  margin-bottom: 25px;
}

.title {
  color: var(--blue-2);
  font-size: 48px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.text-input,
.select,
.textarea {
  width: 100%;
  border: 1px solid #cecece;
  color: #363636;
  font-size: 16px;
  border-radius: 6px;
  padding: 15px;
}

.input-group,
.select-group {
  margin: 10px 0;
}

.textarea-group {
  margin: 10px 0 20px 0;
}

.inner-label {
  margin-bottom: 10px;
  padding: 0 5px;
  position: relative;
  top: 10px;
  left: 10px;
  background-color: #fff;
  border-radius: 5px;
  color: var(--dark-gray);
}

.textarea {
  resize: none;
  height: 200px;
  font-family: inherit;
  font-size: inherit;
  padding-top: 20px;
}

fieldset {
  border: none;
  display: flex;
  flex-wrap: wrap;
}

.checkbox-group {
  justify-content: space-between;
}

legend {
  margin-bottom: 10px;
  color: var(--blue-label);
}

.checkbox-label {
  margin: 5px;
}

input[type='checkbox'] {
  margin-right: 10px;
  transform: scale(1.5);
}

.radio-group {
  justify-content: flex-start;
}

.radio-label {
  flex-grow: 1;
}

input[type='radio'] {
  margin-right: 5px;
  transform: scale(1.3);
}

fieldset,
.file-group {
  margin: 10px 0;
}

.file-label {
  color: var(--blue-label);
  display: block;
  margin-bottom: 10px;
}

.file-input {
  font-size: inherit;
}

.images-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: space-between;
}

.image-container {
  /* height: 90vh; */
  max-width: 100%;
}

.image-container img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  object-position: center;
}

.form-button {
  align-self: flex-start;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .checkbox-group,
  .radio-group {
    flex-direction: column;
  }
}

@media (max-width: 992px) {
  .main-container {
    grid-template-columns: 1fr;
    margin: 30px 20px;
    gap: 0;
  }

  .title {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }

  .text {
    font-size: 1.4rem;
  }

  .text-input,
  .select,
  .textarea {
    padding: 25px;
  }

  .form {
    width: 100%;
  }

  .checkbox-label,
  .radio-label {
    margin: 10px 20px;
  }

  input[type='checkbox'],
  input[type='radio'] {
    transform: scale(2);
  }

  .file-input {
    margin-left: 10px;
  }

  .button {
    align-self: stretch;
    padding: 20px 0;
  }

  .images-section {
    display: none;
  }
}

@media (min-width: 993px) and (max-width: 1400px) {
  .main-container {
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin: 30px;
  }

  .images-section {
    grid-template-columns: 1fr;
  }

  .image-container:not(:first-child) {
    display: none;
  }
}
