.stays-hero-banner {
  height: 600px;
  position: relative;
  margin-bottom: 60px;
  background: url(../images/beach-image.jpg) no-repeat center / cover;
}

.stays-hero-banner::after {
  content: '';
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
}

.stays-hero-banner h1 {
  position: absolute;
  color: var(--white-1);
  width: 580px;
  font-size: 48px;
  left: 10%;
  top: 20%;
}

.stays-hero-banner img {
  max-width: 100%;
  width: 100vw;
  height: 100%;
  display: block;
  object-fit: cover;
  opacity: 0.8;
}

.stays-form-container {
  position: absolute;
  background-color: var(--white-2);
  width: 60%;
  top: 50%;
  left: 10%;
  border-radius: 10px;
}

.stays-form-container form {
  height: 100%;
}

.stays-form-container .input-container {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem 1.5rem 1rem;
}

#stays-question-type {
  margin: 0;
}

.stays-radio-container {
  background-color: var(--main-color);
  padding: 0.8rem 1rem;
  border-radius: 10px 10px 0 0;
  display: flex;
}

.stays-radio-container p {
  font-weight: 600;
  color: var(--white-1);
}

.stays-radio-group label {
  color: var(--white-1);
}

.stays-radio-group input {
  margin-left: 2.5rem;
  margin-right: 0.5rem;
  transform: scale(1.4);
}

.stays-hotels {
  width: 80%;
  margin: 0 auto;
}

.stays-hotels h2 {
  color: var(--green-1);
}

.stays-hotels h2::after {
  content: '';
  width: 100%;
  display: block;
  border-bottom: 1px solid #cecece;
  margin: 10px 0;
}

.stays-list-hotels {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  list-style: none;
}

.stays-list-hotels a:hover {
  color: var(--gray-1);
}

.stays-list-hotels a:hover h3 {
  color: var(--green-1);
}

.stays-list-hotels a:hover img {
  opacity: 0.9;
}

.stays-hotel-card {
  width: 90%;
  height: 100%;
  padding: 0.8rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.stays-hotel-card img {
  margin-bottom: 8px;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.stays-hotel-card img:hover {
  opacity: 0.9;
}

.stays-hotel-card h3 {
  font-size: 22px;
  color: var(--gray-1);
}

.stays-hotel-card p {
  margin: 5px 0;
}

@media (max-width: 576px) {
  .navbar-list {
    justify-content: space-evenly;
  }

  .stays-radio-container {
    flex-direction: column;
  }

  .stays-radio-container legend {
    margin-bottom: 15px;
  }

  .stays-radio-container input {
    margin: 0;
    transform: scale(1.2);
    margin-bottom: 10px;
    margin-right: 5px;
  }
  
}

@media (max-width: 992px) {
  .list-item {
    margin-bottom: 20px;
  }

  #icon-item {
    display: none;
  }

  .stays-hero-banner h1 {
    width: 350px;
    font-size: 28px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border-radius: 10px;
  }

  .stays-hero-banner img {
    opacity: 0.5;
    object-position: left;
  }

  .stays-form-container {
    width: 80%;
    top: 30%;
    left: 10%;
  }

  .input-container {
    flex-direction: column;
  }

  .input-group {
    margin: 10px 0;
  }

  .custom-button {
    align-self: flex-start;
  }

  .stays-list-hotels {
    flex-direction: column;
    align-items: center;
  }

  .stays-hotel-card {
    margin: 20px 0;
    width: 90%;
  }
}

@media (max-width: 1200px) {
  .stays-form-container {
    width: 70%;
  }
}
